<div class="search-form mt-4">
  <form method="POST">
    <div class="mb-3">
      <label for="search-input" class="form-label">Search</label>
      <input
        type="text"
        name="q"
        class="form-control"
        id="search-input"
        placeholder="Keyword"
      />
    </div>

    <div class="mb-3">
      <label for="gender-input" class="form-label">Search</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">--- choose gender ---</option>
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
